body {
  background-color: #181a1b;
  color: #d1cdc7;
  margin-top: 50px;
  text-align: center;
  font-family: 'IBM Plex Mono', monospace;
}

h1 {
  display: flex;
  align-items: left;
  padding: 24px;
  font-family: 'IBM Plex Mono', monospace;
}

.notecard {
  border: 3px solid black;
  width: 500px;
  height: 300px;
  font-family: 'IBM Plex Mono', monospace;

}

#true-btn, #false-btn {
    border: px solid #302f3a;
    color: #302f3a;
    position: relative;
    margin: 1rem 3rem;
    font-size: 1.15rem;
    
  }

