
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 16px;
  height: auto;
  max-width: 100vw;
}
h1 {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 24px;
  margin: auto;
  padding: 0, 0, 20px, 0;
  
}
.notecard {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  width: 60%;
  height: 300px;
  font-family: 'IBM Plex Mono', monospace;
  align-items: baseline;
  background: #fdf7ef;
  box-shadow: 3px 6px 5px; 
  

}

.buttons {
  padding: 10px;
  display: flex;
  align-items: flex-end;

}

#display-score {
  order: -1;
  align-self: flex-end;
  padding: 10px;
  
}

#category {
  margin: 10px;

}

#fact {
  padding: 10px;
  align-items: center;

}

#message {
  padding: 10px;
  font-weight: bold;
}

#game-over {
  padding: 50px;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 16px;
  font-weight: bold;
}

#true-btn, #false-btn {
    display: flex;
    justify-content: flex-end;
    border: px solid #302f3a;
    color: #302f3a;
    margin: 1rem 3rem;
    font-size: .5rem;
    padding: 10px 24px;
  }