body {
  color: black;
  margin: 0;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 12px;
  min-height: 100vh;
}
h1 {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 24px;
  margin: auto;
  
}
.grid-container {
  border: 3px solid black;
  width: 500px;
  height: 300px;
  font-family: 'IBM Plex Mono', monospace;
  align-items: baseline;
  background: #fdf7ef;
  box-shadow: 3px 6px 5px; 
  

}

#true-btn, #false-btn {
    display: grid;
    border: px solid #302f3a;
    color: #302f3a;
    margin: 1rem 3rem;
    font-size: 1.15rem;
    
  }

  